node_modules/
dist/
lists.zip
test.txt
test.zip
CMD Icon.html
.DS_Store
.claude
AppIcon.html
package-lock.json
Epoch_Plot_image.png
Full_App_image.png
Full_LC_image.png
Periodogram_plots_image.png
Screenshot *.png
icon.png
list_INTERESTING_SYSTEMS_FROM_APP
list_RANKED_Scatter_Slope_SPEARMAN

